{% extends "_layout/_sidebar-left.njk" %}
{# Imports #}
{% from "components/accordion/_accordion.njk" import wmndsAccordion %}

{% block sidebar %}
    This is the sidebar
{% endblock sidebar %}

{% block content %}
    <h1>This the homepage</h1>
    <br>
    <a href="./example-page">Example<a>
{% endblock content %}