{% extends "_layout/_sidebar-left.njk" %}
{# Imports #}
{% from "components/accordion/_accordion.njk" import wmndsAccordion %}

{% block sidebar %}
    This is the sidebar
{% endblock sidebar %}

{% block content %}
    <h1>hello world</h1>
    <a href="../">Back home</a>
{% endblock content %}