<head>
  <meta charset="utf-8" />
  <base href="$*urlBase">
  <title>
  {# If homepage #}
  {% if not pageTitle %}
    West Midlands Network User Testing
  {% else %}
  {# Else any other pages #}
    {{ pageTitle | striptags}} - West Midlands Network User Testing
  {% endif %}
  </title>
  <meta name="description" content="Your one stop shop for travel in the West Midlands" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {# <!-- Styles --> #}
  <link rel="stylesheet" href="css/wmnds-components.min.css" />
  <link rel="stylesheet" href="css/wmn-user-testing.min.css" />
</head>